body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}

img {
  display: block;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

:root {
  --text-color-black: #000000;
  --text-color-grey: #595959;
  --text-color-light-gray: #A8A8A8;
  --text-color-ginger: #FB6D3A;
  --text-color-white-ransparent: #ffffffab;
  --text-color-white: #ffffff;
  --section-color:#2a78ab;
  --section-color-white: #ffffff;
}

.header {
  display: flex;
  align-items: center;
  position: absolute;
  top: 6px;
  left: 20%;
}
@media screen and (min-width: 768px) {
  .header {
    position: absolute;
    top: 20px;
    left: auto;
    right: 20px;
  }
}
.header__p {
  margin-right: 20px;
}
.header__list {
  display: flex;
  align-items: center;
}
.header__item {
  margin-right: 20px;
}
.header__img {
  width: 24px;
  height: 17px;
}
.header__img--active {
  width: 40px;
  height: 28px;
}
.header__img:hover {
  transform: scale(1.2);
}

.main-container {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  background: var(--section-color-white);
  max-width: 370px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .main-container {
    max-width: 370px;
  }
}
@media screen and (min-width: 768px) {
  .main-container {
    max-width: 768px;
    flex-direction: row-reverse;
    padding: 0 15px;
  }
}
@media screen and (min-width: 1200px) {
  .main-container {
    max-width: 1200px;
    flex-direction: row-reverse;
    padding: 0 15px;
  }
}

.for-mi {
  width: calc 830px;
}
@media screen and (min-width: 768px) {
  .for-mi {
    padding: 50px 0px 0px 0px;
  }
}
@media screen and (min-width: 1200px) {
  .for-mi {
    padding: 50px 50px 30px 30px;
  }
}

.title {
  display: flex;
  align-items: center;
  background-color: #e0effa;
  height: 40px;
  padding-left: 10px;
}
/*about-me*/
.about {
  margin-bottom: 20px;
  padding: 10px 10px 0;
}
.about__profession {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.15;
  color: var(--text-color-black);
  margin-bottom: 10px;
}
.about__name {
  position: absolute;
  top: 420px;
  left: 50%;
  transform: translate(-50%, -50%);
  font-style: italic;
  font-weight: bold;
  font-size: 28px;
  line-height: 1.15;
  color: var(--text-color-white);
  margin-bottom: 10px;
  white-space: nowrap;
}
@media screen and (min-width: 330px) {
  .about__name {
    top: 430px;
  }
}
@media screen and (min-width: 340px) {
  .about__name {
    top: 440px;
  }
}
@media screen and (min-width: 350px) {
  .about__name {
    top: 450px;
  }
}
@media screen and (min-width: 360px) {
  .about__name {
    top: 460px;
  }
}
@media screen and (min-width: 370px) {
  .about__name {
    top: 470px;
  }
}
@media screen and (min-width: 768px) {
  .about__name {
    position: static;
    transform: translate(0%, 0%);
    font-style: normal;
    font-size: 47px;
    color: var(--text-color-black);
  }
}
@media screen and (min-width: 1200px) {
  .about__name {
    font-style: normal;
    font-size: 47px;
    color: var(--text-color-black);
  }
}
.about__discription {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.15;
  color: var(--text-color-grey);
  text-align: justify;
}
@media screen and (min-width: 1200px) {
  .about__discription {
    font-size: 17px;
  }
}

/*my-projects*/
.projects {
  margin-bottom: 20px;
}
.projects__title {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 27px;
  color: var(--text-color-black);
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .projects__title {
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .projects__title {
    font-size: 24px;
  }
}
.projects__list {
  padding: 0 0 0 17px;
  margin: 0 10px;
}
@media screen and (min-width: 1200px) {
  .projects__list {
    margin: 0px;
  }
}
.projects__item {
  color: var(--text-color-black);
  font-weight: bold;
  margin-bottom: 5px;
}
.projects__text {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.15;
  color: var(--text-color-grey);
}
@media screen and (min-width: 768px) {
  .projects__text {
    font-size: 17px;
    margin-left: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .projects__text {
    font-size: 17px;
    margin-left: 10px;
  }
}
.projects__text--top {
  margin-bottom: 15px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .projects__text--top {
    margin-bottom: 5px;
    gap: 5px;
  }
}
@media screen and (min-width: 1200px) {
  .projects__text--top {
    margin-bottom: 5px;
  }
}
.projects__text--top_group {
  margin-bottom: 5px;
  display: flex;
  gap: 5px;
  align-items: stretch;
  margin: 0;
}
.projects__text--title {
  font-weight: bold;
  font-size: 13px;
  line-height: 1.15;
  color: var(--text-color-grey);
}
@media screen and (min-width: 768px) {
  .projects__text--title {
    font-size: 17px;
    font-style: normal;
  }
}
@media screen and (min-width: 1200px) {
  .projects__text--title {
    font-size: 17px;
  }
}
.projects__icon {
  width: 25px;
  height: 25px;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__icon:hover, .projects__icon:focus {
  transform: scale(1.15);
}
.projects__link {
  text-decoration: none;
}
.projects__bracket {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.15;
  color: var(--text-color-grey);
}
@media screen and (min-width: 768px) {
  .projects__bracket {
    font-size: 17px;
  }
}
@media screen and (min-width: 1200px) {
  .projects__bracket {
    font-size: 17px;
  }
}
.projects__p {
  text-align: justify;
}

/*work*/
.work-expiriens {
  margin-bottom: 20px;
}
.work-expiriens-title {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 27px;
  color: var(--text-color-black);
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .work-expiriens-title {
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .work-expiriens-title {
    font-size: 24px;
  }
}
.work-expiriens-company {
  margin: 15px 0 0 0;
  padding: 0 10px;
}
@media screen and (min-width: 768px) {
  .work-expiriens-company {
    padding: 0 0 0 10px;
  }
}
.work-expiriens__position {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 15px;
  margin: 0 0 10px 0;
}
@media screen and (min-width: 768px) {
  .work-expiriens__position {
    font-size: 18px;
    line-height: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .work-expiriens__position {
    font-size: 18px;
    line-height: 30px;
  }
}
.work-expiriens__position--color {
  color: var(--text-color-ginger);
}
.work-expiriens__period {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  color: var(--text-color-gray);
  margin: 0 0 10px 0;
}
@media screen and (min-width: 768px) {
  .work-expiriens__period {
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .work-expiriens__period {
    font-size: 16px;
  }
}
.work-expiriens__period--color {
  color: var(--text-color-black);
}
.work-expiriens__list {
  padding: 0 0 0 17px;
}
.work-expiriens__item {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.15;
  color: var(--text-color-gray);
}
@media screen and (min-width: 768px) {
  .work-expiriens__item {
    font-size: 17px;
  }
}
@media screen and (min-width: 1200px) {
  .work-expiriens__item {
    font-size: 17px;
  }
}

.details {
  padding: 0 10px;
}
@media screen and (min-width: 768px) {
  .details {
    padding: 0 0 0 10px;
  }
}
.details__more {
  margin-top: 15px;
  cursor: pointer;
  font-style: normal;
  font-weight: bolder;
  font-size: 13px;
  line-height: 1.15;
  color: var(--text-color-gray);
  animation: pulse 2s infinite;
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1);
}
@media screen and (min-width: 768px) {
  .details__more {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .details__more {
    font-size: 17px;
  }
}
.details__more:hover {
  transform: scale(1.01);
  color: var(--section-color);
  animation-play-state: paused;
}

/*education*/
.education {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 27px;
  color: var(--text-color-black);
  margin-bottom: 10px;
}
@media screen and (min-width: 1200px) {
  .education {
    font-size: 24px;
  }
}
.education-title {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 27px;
  color: var(--text-color-black);
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .education-title {
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .education-title {
    font-size: 24px;
  }
}
.education-list {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .education-list {
    padding: 0 0 0 10px;
  }
}
.education__item {
  margin: 10px 10px 0px 10px;
}
@media screen and (min-width: 768px) {
  .education__item {
    margin: 0;
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .education__item {
    margin: 0;
    margin-top: 10px;
  }
}
.education__university {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  color: var(--text-color-ginger);
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .education__university {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  .education__university {
    font-size: 18px;
  }
}
.education__speciality {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 17px;
  color: var(--text-color-black);
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .education__speciality {
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .education__speciality {
    font-size: 16px;
  }
}
.education__period {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 15px;
  color: var(--text-color-gray);
}
@media screen and (min-width: 768px) {
  .education__period {
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .education__period {
    font-size: 16px;
  }
}
.education__divider {
  color: var(--text-color-black);
}
.education__link {
  color: var(--text-color-ginger);
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.education__link:hover {
  color: var(--section-color);
  cursor: pointer;
}

.go {
  background: #373740;
  color: var(--text-color-white);
  position: relative;
  margin-right: 10px;
}
.go::after {
  content: "";
  position: absolute;
  left: 100%;
  bottom: 0;
  border: 8.1px solid transparent;
  border-left: 10px solid #373740;
}
@media screen and (min-width: 768px) {
  .go::after {
    border: 11px solid transparent;
  }
}
@media screen and (min-width: 1200px) {
  .go::after {
    border: 11px solid transparent;
  }
}

.it {
  background: #F2600C;
  color: var(--text-color-white);
  padding: 0 8px 0 8px;
}

.vs {
  color: #373740;
}

/*sidebar*/
.sidebar {
  background: var(--section-color);
  width: 100%;
  margin-top: 40px;
}
@media screen and (min-width: 369px) {
  .sidebar {
    width: 370px;
  }
}
@media screen and (min-width: 768px) {
  .sidebar {
    width: 30%;
    margin-top: 0px;
  }
}
@media screen and (min-width: 1200px) {
  .sidebar {
    width: 100%;
  }
}

.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 1.13;
  color: var(--text-color-white);
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .sidebar-title {
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .sidebar-title {
    font-size: 24px;
  }
}

.photo {
  width: 97%;
  background-color: white;
  transition-property: all;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
  margin: 5px 5px 0 5px;
}
@media screen and (min-width: 369px) {
  .photo {
    width: 360px;
  }
}
@media screen and (min-width: 768px) {
  .photo {
    width: 95%;
  }
}
@media screen and (min-width: 1200px) {
  .photo {
    width: 360px;
  }
}

/* contact */
.contact {
  padding-right: 40px;
  padding-left: 40px;
  margin: 85px 0 0 0;
}
@media screen and (min-width: 768px) {
  .contact {
    margin: 30px 0 0 0;
    padding: 0 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact {
    padding-right: 40px;
    padding-left: 40px;
    margin: 30px 0 0 0;
  }
}
.contact__tipe {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 1.5;
  color: var(--text-color-white);
  margin-right: 7px;
}
.contact__link {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.5;
  color: var(--section-color-white);
  transition-duration: 350ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(0.85);
}
@media screen and (min-width: 768px) {
  .contact__link {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .contact__link {
    font-size: 17px;
  }
}
.contact__link:hover, .contact__link:focus {
  color: var(--text-color-white-ransparent);
}
.contact__p {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 1.5;
  color: var(--text-color-white);
}

/*skil*/
.tech-skil {
  padding-right: 40px;
  padding-left: 40px;
  margin: 30px 0 0 0;
}
@media screen and (min-width: 768px) {
  .tech-skil {
    padding: 0 10px;
  }
}
@media screen and (min-width: 1200px) {
  .tech-skil {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.soft-skil {
  padding-right: 40px;
  padding-left: 40px;
  margin: 30px 0 0 0;
}
@media screen and (min-width: 768px) {
  .soft-skil {
    padding: 0 10px;
  }
}
@media screen and (min-width: 1200px) {
  .soft-skil {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.soft-skil-list,
.tech-skil-list {
  padding: 0 0 0 17px;
}

.soft-skil__item,
.tech-skil__item {
  color: var(--text-color-ginger);
}

.soft-skil__item--text,
.tech-skil__item--text {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.5;
  color: var(--text-color-white);
}
@media screen and (min-width: 768px) {
  .soft-skil__item--text,
  .tech-skil__item--text {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .soft-skil__item--text,
  .tech-skil__item--text {
    font-size: 17px;
  }
}

.language {
  padding-right: 40px;
  padding-left: 40px;
  margin: 30px 0 15px 0;
}
@media screen and (min-width: 768px) {
  .language {
    padding: 0 10px;
  }
}
@media screen and (min-width: 1200px) {
  .language {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.language-list {
  padding: 0 0 0 17px;
}
.language__item {
  color: var(--text-color-ginger);
}
.language__item--text {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.5;
  color: var(--text-color-white);
}
@media screen and (min-width: 768px) {
  .language__item--text {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .language__item--text {
    font-size: 17px;
  }
}/*# sourceMappingURL=index.css.map */