.header {
    // display: flex;
    // align-items: center;
    // position: absolute;
    // top: 20px;
    // right: 20px;


    // &__p {
    //     margin-right: 20px;
    // }
    // &__list {
    //     display: flex;
    //     align-items: center;
    // }
    // &__item {
    //     margin-right: 20px;
    // }
    // &__img {
    //     width: 24px;
    //     height: 17px;
    //     &--active{
    //         width: 40px;
    //         height: 28px;
    //     }
    //     &:hover{
    //         transform: scale(1.2);
    //     }
    // }

    display: flex;
    align-items: center;
    position: absolute;
    top: 6px;
    left: 20%;

    &__p {
        margin-right: 20px;
    }
    &__list {
        display: flex;
        align-items: center;
    }
    &__item {
        margin-right: 20px;
    }
    &__img {
        width: 24px;
        height: 17px;
        &--active{
            width: 40px;
            height: 28px;
        }
        &:hover{
            transform: scale(1.2);
        }
    }
    
    @media screen and (min-width: 480px){

    }
    @media screen and (min-width: 768px){

    }
    @media screen and (min-width: 1200px){

    }
}
