.main-container {
    display: flex;
    flex-direction:column-reverse;
    position: relative;
    // width: 1200px;
    background: var(--section-color-white);
    max-width: 370px;
    margin: 0 auto;

    @media screen and (min-width: 480px){
        max-width: 370px;
    }
    @media screen and (min-width: 768px){
        max-width: 768px;
    }
    @media screen and (min-width: 1200px){
        max-width: 1200px;
        flex-direction: row-reverse;
        padding: 0 15px;
    }
}