.main-container {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    width: 1200px;
    background: var(--section-color-white);
    margin: 0 auto;
    // box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}