/*about-me*/
.about {
    margin-bottom: 20px;
    padding: 10px 10px 0;

    @media screen and (min-width: 480px){

    }
    @media screen and (min-width: 768px){

    }
    @media screen and (min-width: 1200px){

    }
    &__profession {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.15;
        color: var(--text-color-black);
        margin-bottom: 10px;} 
    &__name{
        // font-style: normal;
        // font-weight: bold;
        // font-size: 47px;
        // line-height: 1.15;
        // color: var(--text-color-black);
        // margin-bottom: 10px;
        position: absolute;
        top: 420px;
        left: 50%;
        transform: translate(-50%, -50%);
        font-style: italic;
        font-weight: bold;
        font-size: 28px;
        line-height: 1.15;
        color: var(--text-color-white);
        margin-bottom: 10px;
        white-space: nowrap;

        @media screen and (min-width: 330px){
            top: 430px;
        }
        @media screen and (min-width: 340px){
            top: 440px;
        }
         @media screen and (min-width: 350px){
            top: 450px;
        }
         @media screen and (min-width: 360px){
            top: 460px;
        }
        @media screen and (min-width: 370px){
            top: 470px;
        }
        @media screen and (min-width: 768px){
            position: static;
            transform: translate(0%, -0%);
            font-style: normal;
            font-size: 47px;
            color: var(--text-color-black);
        }
        @media screen and (min-width: 1200px){
            font-style: normal;
            font-size: 47px;
            color: var(--text-color-black);
        }
    }
    &__discription {
        // font-style: normal;
        // font-weight: normal;
        // font-size: 17px;
        // line-height: 1.15;
        // color: var(--text-color-grey);
        // text-align: justify;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 1.15;
        color: var(--text-color-grey);
        text-align: justify;

        @media screen and (min-width: 320px){
        
        }
        @media screen and (min-width: 768px){

        }
        @media screen and (min-width: 1200px){
            font-size: 17px;
        } 
    }
}