.for-mi {
    padding: 50px 50px 30px 30px;
    width: calc (1200px - 370px);
}

.title {
    display: flex;
        align-items: center;
        background-color: #e0effa;
        padding-left: 10px;
        height: 40px;
}