/*education*/
.education {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 27px;
        color: var(--text-color-black);
        margin-bottom: 10px;

    &-title{
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 27px;
        color: var(--text-color-black);
        margin-bottom: 10px;
    }
    &-list {
        display: flex;
        flex-direction: column;
    }
    &__item{
            margin-top: 10px;
    }
    &__university {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 20px;
        color: var(--text-color-ginger);
        margin-bottom: 10px;
    }
    &__speciality {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 17px;
        color: var(--text-color-black);
        margin-bottom: 10px;
    }
    &__period {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 15px;
        color: var(--text-color-gray);
    }
    &__divider {
        color: var(--text-color-black);
    }
    &__link{
        color: var(--text-color-ginger);

        transition-property: all;
        transition-duration: 500ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

        &:hover {
            color: var(--section-color);
            cursor: pointer;
        }
    }
}
.go{
    background: #373740;
    color: var(--text-color-white);
    position: relative;
    margin-right: 10px;
    &::after{
        content: ''; 
        position: absolute; 
        left: 100%; 
        bottom: 0; 
        border: 11px solid transparent; 
        border-left: 10px solid #373740;
    }
    
}
.it{
    background: #F2600C;
    color: var(--text-color-white);
    padding: 0 8px 0 8px;
}
.vs{
    color: #373740;
}