:root {
    --text-color-black: #000000;
    --text-color-grey: #595959;
    --text-color-light-gray: #A8A8A8;
    --text-color-ginger: #FB6D3A;
    --text-color-white-ransparent: #ffffffab;
    --text-color-white: #ffffff;
    --section-color:#1e2939;
    --section-color-white: #ffffff;

}