/* contact */

.contact{
    padding-right: 40px;
    padding-left: 40px;
    margin: 50px 0 0 0;

    &__tipe {
        font-style: normal;
        font-weight: bold;
        font-size: 17px;
        line-height: 1.5;
        color: var(--text-color-white);
        margin-right: 7px;
    }
    &__link{ 
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 1.5;
        color: var(--text-color-white-ransparent);
        transition-duration: 350ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transform: scale(0.85);
        &:hover,
        &:focus{
            color: var(--text-color-white);
        }
    }
    &__p{
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 1.5;
        color: var(--text-color-white);
    }
}