.language{
    padding-right: 40px;
    padding-left: 40px;
    margin: 50px 0 0 0;
    &-list{
        padding: 0 0 0 17px;
    }
    &__item{
        color: var(--text-color-ginger);
    }
    &__item--text{
        font-style: normal;
        font-weight: normal;
        font-size: 17px;
        line-height: 1.5;
        color: var(--text-color-white);
    }
}