.photo{
    width: 370px;
    background-color: #667899;
    transition-property: all;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    // transform: scale(0.85);
    &:hover{
        transform: scale(0.95);
    }
}