/*sidebar*/

.sidebar {
    // background: var(--section-color);
    // width: 370px;
    
    background: var(--section-color);
    width: 100%;
    margin-top: 40px;
        @media screen and (min-width: 369px){
            width: 370px;
        }
        @media screen and (min-width: 768px){
            width: 30%;
            margin-top: 0px;
        }
        @media screen and (min-width: 1200px){
            width: 100%;
        } 
}
.sidebar-title{
    // font-style: normal;
    // font-weight: bold;
    // font-size: 24px;
    // line-height: 1.13;
    // color: var(--text-color-white);
    // margin-bottom: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 1.13;
    color: var(--text-color-white);
    margin-bottom: 10px;

    @media screen and (min-width: 369px){
        
    }
    @media screen and (min-width: 768px){
        font-size: 24px;
    }
    @media screen and (min-width: 1200px){
        font-size: 24px;
    } 
}